html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
}
.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightblue;
    color: black;
    border: none;
    cursor: pointer;
    text-align: left;
}
.sidebar button:hover {
    background-color: rgb(173, 198, 230);
    color: black;
}
.content {
    flex-grow: 1;
    padding: 20px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
button {
    background-color: lightblue;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: rgb(173, 198, 230);
    color: black;
}
.g {
    display: flex;
    justify-content: center;
}

header {
    background-color: lightblue;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    margin: 0;
    height: 100px;
}

.login-container {
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    background-color: rgba(173, 216, 230, 0.623);
    font-size: 0.8cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 200px;
}

.login-container h2 {
    text-align: center;
}

.login-container input {
    width: 70%;
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    border: none;
}

.login-container input:focus {
    outline: none;
}

.login-container label {
    margin-left: 50px;
}

.login-container button {
    width: 70%;
    padding: 10px;
    background-color: rgba(173, 202, 230, 0.541);
    border: none;
    cursor: pointer;
    margin-left: 60px;
    font-size: large;
}

.login-body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background: conic-gradient(from 75deg, #8be1fe 15deg, #36cee2 0 30deg, #0000 0 180deg, #36cee2 0 195deg, #8be1fe 0 210deg, #0000 0),
                conic-gradient(#8be1fe 30deg, #49b5ca 0 75deg, #8be1fe 0 90deg, #36cee2 0 105deg, #49b5ca 0 150deg, #36cee2 0 180deg, #49b5ca 0 210deg, #8be1fe 0 256deg, #36cee2 0 270deg, #8be1fe 0 286deg, #36cee2 0 331deg, #49b5ca 0);
    background-size: 119px calc(119px / tan(30deg));
    background-position: 0 0, 0 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}   

section {

    padding: 5px;

}

.hujci {
    flex: none;
    display: block;
    width: 100%;
    padding: 10px;
}

.wpis {
    flex: none;
    display: block;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid lightblue;
}