<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post[1] }}</title>  <!-- Tytuł wpisu -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="hujci">
            <h1>Webpoligon stats app</h1>
        </div>
    </header>
    <section class="wpis">
        <h2>{{ post[1] }}</h2>  <!-- Tytuł wpisu -->
        <p>{{ post[2] }}</p>    <!-- Treść wpisu -->
        <p><strong>Data: </strong>{{ post[3] }}</p>  <!-- Data wpisu -->
    </section>
</body>
</html>